@font-face {
    font-family:Raleway;
    src: url(Raleway-Regular.ttf);
}
body,#ville::placeholder,.recherche__btn
{
	font-family:Raleway;	
}
body
{
	margin:0px;
}
section
{
	margin-left:50px;
	margin-right:50px;
}
header
{
	margin-left:50px;
	margin-right:50px;
}
.gras
{
	font-weight:bold;
}
.header__bloc__logo
{
	flex:2;
}
.header__bloc__nav
{
	display:flex;
	justify-content:space-between;
	width:350px;
}
.header__bloc__logoSize
{
	width:100px;
}
.header__bloc
{
	display:flex;
	justify-content:space-between;
}
a
{
	text-decoration:none;
	color:black;
}
.header__bloc__sinscrire
{
	width:175px;
	text-align:center;
	margin-top:0px;
	line-height: 4em;
}
.header__bloc__sinscrireColor
{
	color:#0065FC;
	font-weight:bold;
}
.header__bloc__nav__hébergements,.header__bloc__nav__activités
{
	width:50%;
	text-align:center;
	margin-top:0px;
	line-height: 4em;
}
.header__bloc__nav__hébergements,.header__bloc__sinscrire,.header__bloc__nav__activités
{
	border-top:#FFFFFF solid 3px;
}
.gras
{
	font-weight:bold;
}
.header__bloc__nav__hébergements:hover,.header__bloc__nav__activités:hover
{
	border-top:#0065FC solid 3px;
}
.header__bloc__nav__hébergementsColor:hover,.header__bloc__nav__activitésColor:hover
{
	color:#0065FC;
}
.header__bloc__sinscrire:hover
{
    border-top:#0065FC solid 3px;
}
.fas.fa-chart-line
{
	color:black;
}
.fas.fa-map-marker-alt
{
	color:black;
	background-color: #f2f2f2;
	border-radius:13px 0px 0px 13px;
	padding:17px;
	margin:0px;
}
.fas.fa-search
{
	color:#0065FC;
	font-size:0.1em;
}
.fas
{
	color:#0065FC;
}
.fas.fa-star.gris
{
	color:#d9d9d9;
}
.recherche
{
	width:80%;
	height:auto;
	margin-left:50px;
	margin-right:50px;
}
form
{
	display:flex;
	justify-content:space-between;
	width:20%;
    height:50px;
	border:solid #f2f2f2 2px;
	border-radius:15px;
}
#ville::placeholder
{
    color:#000000;
    font-weight:bold;
}
#ville
{
	border-style:none;
	font-weight:bold;
}
.recherche__btn
{
	border-style:none;
	background-color: #0065FC;
	color:white;
	border-radius:0px 15px 15px 0px;
    font-weight:bold;
    padding-left: 13px;
    padding-right: 13px;
}

.recherche__filtres
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:75%;	
	font-weight:bold;
	margin-top:20px;
	margin-bottom:20px;
}
.recherche__filtres__btn
{	
	color:#000000;
	background-color: #ffffff;
	border:solid #d9d9d9 2px;
	border-radius:30px;
	padding-right:15px;
	margin-left:40px;
	margin-right:40px;
	transform:scale(1);
	transition:all 300ms;
}
.recherche__filtres__btn:hover
{
	transform: scale(1.15);
	color:#ffffff;
	background-color:#d9d9d9;
	box-shadow:6px 6px 6px #f2f2f2;
}
.fas.fa-money-bill-wave,.fas.fa-child,.fas.fa-heart,.fas.fa-dog
{
	margin-right:15px;
	background-color: #DEEBFF;
	border-radius:20px;
	padding: 12px;
}
#tips
{
	display:inline-block;
	margin-left:50px;
	margin-right:50px;
}
.icon_tips_text
{
	margin-left:10px;
}
.fas.fa-info
{
    border:solid #f2f2f2 2px;
    padding:5px 10px;
    border-radius:20px;
}
.bloc1
{
	display:flex;
	justify-content:space-between;
}
.bloc1__hébergements
{
	width:65%;
	background-color: #f2f2f2;
    border-radius:20px;
}
h2
{
	padding-top:30px;
}
h3
{
	font-size:1.5em;
}
.bloc1__hébergements__bloc
{
	display:flex;
    flex-wrap:wrap;
	justify-content:space-around;
}
.bloc1__hébergements__titre
{
	padding-left:40px;
    padding-top:30px;
}
.bloc1__hébergements__bloc__card
{
	display:flex;
	width:25%;
	height:auto;
	line-height:0.9em;
    background-color:#ffffff;
    padding:5px;
    border-radius:20px;
    margin-top:30px;
	box-shadow:6px 6px 6px #d8d8d8;
	transform:scale(1);
	transition:all 400ms;
}
.bloc1__hébergements__bloc__card:hover
{
	transform:scale(1.05);	
	box-shadow:6px 6px 6px #aeaeae;
}
.bloc1__hébergements__bloc__card__img
{
	width:100%;
    height:114px;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
.bloc1__hébergements__bloc__card__txt
{
	padding-left:16px;
}
.afficherPlus
{
	margin-left:40px;
	padding-top:20px;
	padding-bottom:20px;
	font-weight:bold;
}
.afficherPlus__plus
{
    font-size:1.3em;
}
.bloc1__populaires
{
    width:30%;
    display:flex;
    flex-direction:column;
    background-color: #f2f2f2;
    border-radius:20px;
}
.bloc1__populaires__TitreLogo
{
	display:flex;
	justify-content:space-between;
	width:80%;
    margin-left:50px;
}
.bloc1__populaires__card a
{
    display:flex;
    height:150px;
}
.fas.fa-chart-line
{
    font-size:1.5em;
}
.bloc1__populaires__card__txt__stars
{
	position:relative;
}
.bloc1__populaires__card
{	
	display:flex;
	width:85%;
	height:auto;
	background-color:#ffffff;
	margin:auto;
	padding:5px;
	border-radius:20px;
	box-shadow:6px 6px 6px #d8d8d8;
	transform:scale(1);
	transition:all 300ms;
}
.bloc1__populaires__card:hover
{
	transform:scale(1.10);
	box-shadow:6px 6px 6px #aeaeae;
}
.bloc1__populaires__card__img
{
    width:25%;
    height:100%;
    object-fit:cover;
    border-radius:20px 0px 0px 20px;
}
.bloc1__populaires__card__txt
{
	padding-left:16px;
	padding-bottom: 0px;
}
.activités
{
	height:600px;
	margin-top:40px;
	margin-left:50px;
	margin-right:50px;
}
.activités__bloc
{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:500px;
}
.activités__bloc__card1__txt,.activités__bloc__card2a__txt,.activités__bloc__card2b__txt,.activités__bloc__card3__txt,.activités__bloc__card4a__txt,.activités__bloc__card4b__txt
{
	font-weight:bold;
	padding-left:16px;
}
.activités__bloc__card1,.activités__bloc__card2,.activités__bloc__card3,.activités__bloc__card4
{
	width:25%;
	background-color:#ffffff;
	border-radius:25px;
}
.activités__bloc__card1,.activités__bloc__card2a,.activités__bloc__card2b,.activités__bloc__card3,.activités__bloc__card4a,.activités__bloc__card4b
{
	transform:scale(1);
	transition:all 400ms;
}
.activités__bloc__card1:hover,.activités__bloc__card2a:hover,.activités__bloc__card2b:hover,.activités__bloc__card3:hover,.activités__bloc__card4a:hover,.activités__bloc__card4b:hover
{
	transform:scale(1.02);
	box-shadow:6px 6px 6px #d8d8d8;
}
.activités__bloc__card1,.activités__bloc__card3
{
	box-shadow:6px 6px 6px #f2f2f2;
}
.activités__bloc__card1,.activités__bloc__card2,.activités__bloc__card3
{
	margin-right:25px;
}
.activités__bloc__card2,.activités__bloc__card4
{
	display:flex;
	margin-left:25px;
}
.activités__bloc__card2,.activités__bloc__card4
{
	flex-direction:column;
	justify-content:space-between;
}
.activités__bloc__card2a,.activités__bloc__card2b,.activités__bloc__card4a,.activités__bloc__card4b
{
	border-radius:25px;
	box-shadow:6px 6px 6px #f2f2f2;
}
.activités__bloc__card2a
{
	height:270px;
}
.activités__bloc__card2b
{
	height:180px;
}
.activités__bloc__card4a
{
	height:45%;
}
.activités__bloc__card4b
{
	height:45%;
}
.activités__bloc__card1__img,.activités__bloc__card3__img
{
	width:100%;
    height:92%;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
.activités__bloc__card2a__img
{
	width:100%;
    height:230px;
    object-fit:cover;
	border-radius:20px 20px 0px 0px;
}
.activités__bloc__card2b__img
{
	width:100%;
    height:140px;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
.activités__bloc__card4a__img
{
	width:100%;
    height:82%;
    object-fit:cover;
	border-radius:20px 20px 0px 0px;
}
.activités__bloc__card4b__img
{
	width:100%;
    height:82%;
    object-fit:cover;
    border-radius:20px 20px 0px 0px;
}
footer
{
	display:flex;
	background-color: #f2f2f2;
	margin-top:60px;
	padding-top:40px;
}
footer p
{
	line-height:0.7em;
}
footer p:hover
{
	font-weight:bold;
}
.bloc-footer
{
	width:33%;
	height:auto;
	margin-left:50px;
}
@media screen and (max-width:991px)
{
	body
	{
		display:flex;
		flex-direction: column;
		width:auto;
		margin:0px;
	}
	header
	{
		margin-left:0px;
		margin-right:0px;
	}
	.header__bloc
	{
		flex-wrap:wrap;
		width:100%;
		margin-top:10px;
		
	}
	.header__bloc__logo
	{
		width:50%;
		order:1;
		margin-left:20px;
	}
	
	.header__bloc__sinscrire
	{
		width:30%;
		height:29px;
		order:2;
		text-align:right;
		margin-right:20px;
		margin-top:10px;
	}
	.header__bloc__nav
	{
		width:100%;
		order:3;
	}
	.header__bloc__sinscrire:hover
	{
		border-top:#ffffff solid 3px;
	}
	.header__bloc__nav__hébergements,.header__bloc__nav__activités
	{
		padding-top:0px;
		padding-bottom:15px;
		border-bottom:#f2f2f2 solid 3px;
	}
	.header__bloc__nav__hébergements:hover,.header__bloc__nav__activités:hover
	{
		border-top:#ffffff solid 3px;
		border-bottom:#0065FC solid 3px;
	}
	.header__titres
	{
		text-align:center;
		margin-left:20px;
		margin-right:20px;
	}
	h2
	{
		padding:0px;
	}
	.recherche
	{
		width:90%;
		margin-left:20px;
		margin-right:20px;
	}
	form
	{
		width:100%;
		height:auto;
	}
	.fas.fa-search
	{
		color:#ffffff;
		font-size:1em;
		padding:0px 5px;
	}
	.recherche__value
	{
		display: none;
	}
	.recherche__btn
	{
	border-radius:15px 15px 15px 15px;
	}
	.fas.fa-map-marker-alt
	{
		padding-top: 17px;
	}
	.recherche__filtres
	{
		display:flex;
		flex-wrap:wrap;
		width:100%;	
		font-weight:bold;
	}
	h3
	{
		width:80%;
	}
	.recherche__filtres__btn
	{	
		margin-left:0px;
		margin-right:40px;
		font-size:1.2em;
	}
	.fas.fa-money-bill-wave,.fas.fa-child,.fas.fa-heart,.fas.fa-dog
	{
		margin-right:15px;
		background-color: #DEEBFF;
		border-radius:20px;
		padding:14px;
	}
	#tips
	{
		margin-left:10px;
		margin-right:10px;
	}
	section
	{
		display:flex;
		flex-direction:column;
		width:100%;
		height:auto;
		margin-left:0px;
		margin-right:0px;
		line-height:1em;
	}
	.bloc1
	{
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column-reverse;	
	}
	.bloc1__hébergements
	{
		width:100%;
		height:auto;
		margin-left:0px;
		margin-right:0px;
		background-color:#ffffff;
	}
	.bloc1__hébergements__bloc
	{
		display:flex;
		flex-direction:column;
	}
	.bloc1__hébergements__titre
	{
		padding-left:20px;
		padding-top:30px;
	}
	.bloc1__hébergements__bloc__card
	{
		width:90%;
		background-color:#ffffff;
		padding:5px;
		border-radius:20px;
		margin:10px auto;
		box-shadow:6px 6px 6px #d8d8d8;
		transform:scale(1);
		transition:all 400ms;
	}
	.bloc1__hébergements__bloc__card__img
	{
		width:100%;
		height:114px;
		object-fit:cover;
		border-radius:20px 20px 0px 0px;
	}
	.afficherPlus
	{
		margin-left:20px;
	}
	.bloc1__populaires
	{
		display:flex;
		flex-direction:column;
		width:100%;
		height:auto;
		border-radius:0px;
		background-color: #f2f2f2;
		padding-bottom:40px;
	}
	.bloc1__populaires__TitreLogo
	{
		width:90%;
		margin-left:20px;
	}
	.bloc1__populaires__card
	{	
		display:flex;
		width:90%;
		background-color:#ffffff;
		margin:10px auto;
		padding:5px;
		border-radius:20px;
		box-shadow:6px 6px 6px #d8d8d8;
		transform:scale(1);
		transition:all 300ms;
	}
	.bloc1__populaires__card:hover
	{
		transform:scale(1.05);
		box-shadow:6px 6px 6px #aeaeae;
	}
	.activités
	{
		width:90%;
		height:auto;
		display:flex;
		flex-direction:column;
		margin-left:20px;
		margin-right:20px;
	}
	.activités__bloc
	{
		display:flex;
		flex-direction:column;
		width:100%;
		height:auto;
	}
	.activités__bloc__card1,.activités__bloc__card2,.activités__bloc__card3,.activités__bloc__card4
	{
		width:100%;
		height:auto;
		background-color:#ffffff;
		border-radius:25px;
		margin:10px auto;
	}
	.activités__bloc__card2a,.activités__bloc__card2b,.activités__bloc__card4a,.activités__bloc__card4b
	{
		width:100%;
		height:auto;
		margin:10px auto;
	}
	.activités__bloc__card1__img,.activités__bloc__card2a__img,.activités__bloc__card2b__img,.activités__bloc__card3__img,.activités__bloc__card4a__img,.activités__bloc__card4b__img
	{
		width:100%;
		height:134px;
		object-fit:cover;
		border-radius:20px 20px 0px 0px;
	}
	footer
	{
		display:flex;
		flex-direction:column;
		width:100%;
		height:auto;
		background-color: #f2f2f2;
		margin-top:30px;
		padding-top:30px;
	}
	.bloc-footer
	{
		width:90%;
		height:auto;
		margin:10px auto;
	}
	footer p
	{
		line-height:1em;
	}
}
@media screen and (min-width: 768px) and (max-width:991px)
{
	body
	{
		display:flex;
		width:100%;
		margin:auto;
	}
	.recherche
	{
		width:100%;
		height:auto;
		margin:10px;
	}
	form
	{
		display:flex;
		justify-content:space-between;
		width:50%;
		height:50px;
		border:solid #f2f2f2 2px;
		border-radius:15px;
		margin:20px;
	}
	.recherche__filtres
	{
		display:flex;
		flex-wrap:wrap;
		width:90%;
		font-weight:bold;
		margin:20px;
	}
	.bloc1
	{
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column;	
	}
	.bloc1__hébergements__bloc
	{
		display:flex;
		flex-wrap:wrap;
		flex-direction:row;
	}
	.bloc1__hébergements__bloc__card
	{
		width:40%;
		background-color:#ffffff;
		padding:5px;
		border-radius:20px;
		margin:10px auto;
		box-shadow:6px 6px 6px #d8d8d8;
		transform:scale(1);
		transition:all 400ms;
	}
	.bloc1__populaires
	{
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:space-around;
		width:100%;
		border-radius:20px;
		background-color: #f2f2f2;
	}
	.bloc1__populaires__card
	{	
		display:flex;
		width:90%;
		background-color:#ffffff;
		margin:10px auto;
		padding:5px;
		border-radius:20px;
		box-shadow:6px 6px 6px #d8d8d8;
		transform:scale(1);
		transition:all 300ms;
	}
	.activités h3
	{
		margin:30px;
	}
	.activités
	{
		width:100%;
		height:auto;
		display:flex;
		flex-direction:column;
		margin:auto;
	}
	.activités__bloc
	{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: space-between;
		width:100%;
		height:auto;
	}
	.activités__bloc__card1,.activités__bloc__card2,.activités__bloc__card3,.activités__bloc__card4
	{
		width:45%;
		height:500px;
		background-color:#ffffff;
		border-radius:25px;
		margin:10px auto;
	}
	.activités__bloc__card2a,.activités__bloc__card2b,.activités__bloc__card4a,.activités__bloc__card4b
	{
		width:100%;
		height:250px;
		margin: auto;
	}
	.activités__bloc__card1__img,.activités__bloc__card3__img
	{
		width:100%;
		height:450px;
		object-fit:cover;
		border-radius:20px 20px 0px 0px;
	}
	.activités__bloc__card2a__img,.activités__bloc__card2b__img,.activités__bloc__card4a__img,.activités__bloc__card4b__img
	{
		width:100%;
		height:200px;
		object-fit:cover;
		border-radius:20px 20px 0px 0px;
	}
	footer
	{
		display:flex;
		flex-direction:column;
		width:100%;
		height:auto;
		background-color: #f2f2f2;
		margin-top:30px;
		padding-top:30px;
	}
}